.weather-app {
  padding: 30px;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

h1 {
  margin-bottom: 0;
}

.weather-temperature {
  font-size: 40px;
}
.weather-units {
  position: relative;
  top: -20px;
  font-size: small;
}
ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
}

h1 {
  line-height: 38px;
}
.weather-units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
}

#temperature-forecast-max {
  font-size: 13px;
}
#temperature-forecast-min {
  font-size: 13px;
  color: gray;
}
