body {
  background-image: url(backgroundphoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.weather-app {
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 120px auto;
}

h1 {
  margin-bottom: 0;
}

.weather-temperature {
  font-size: 40px;
}
.weather-units {
  position: relative;
  top: -20px;
  font-size: small;
}
ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
}

h1 {
  line-height: 38px;
}
.weather-units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
}

#temperature-forecast-max {
  font-size: 11px;
}
#temperature-forecast-min {
  font-size: 11px;
  color: gray;
}
.weather-forecast-day {
  font-size: 14px;
  text-align: center;
}
small {
  padding: 10px;
}