.weather-app {
  padding: 30px;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-temperature {
  font-size: 40px;
}
.weather-units {
  position: relative;
  top: -15px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
}

h1 {
  line-height: 38px;
}
